.containerRegister {
	width: 100%;
	min-height: 100vh;
	background-color: #fff;
	overflow: hidden;
}
.containerRegister::before {
	content: '';
	position: absolute;
	width: 1500px;
	height: 2000px;
	border-radius: 60%;
	background-image: linear-gradient(-45deg, #3b3c3d 0%, #07171d 100%);
	top: 10%;
	right: 48%;
	transform: translateY(-40%);
	z-index: 6;
	transition: 1.8s ease-in-out;
}
.register-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}
.signup {
	position: absolute;
	/* top: 60%; */
	left: 55%;
	/* transform: translate(-50%, -50%); */
	width: 50%;
	display: grid;
	/* grid-template-columns: 1fr; */
	z-index: 8;
	/* transition: 1s 0.7s ease-in-out; */
}

form {
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 5rem;
	overflow: hidden;
	flex-direction: column;
	z-index: 8;
	/* grid-column: 1/2;
	grid-row: 1/2;
	transition: 0.2s 0.7s ease-in-out; */
}

.input-field {
	max-width: 380px;
	width: 100%;
	height: 55px;
	background-color: #f0f0f0;
	margin: 10px 0;
	border-radius: 55px;
	display: grid;
	grid-template-columns: 15% 85%;
	padding: 0 .4rem;
}
.input-field i {
	text-align: center;
	line-height: 55px;
	color: #acacac;
	font-size: 1.1rem;
}
.input-field input {
	background: none;
	outline: none;
	border: none;
	line-height: 1;
	font-weight: 600;
	font-size: 1rem;
	color: #333;
}
.input-field input::placeholder {
	color: #aaa;
	font-weight: 500;
}

.btnRegister {
	width: 150px;
	height: 49px;
	border: none;
	outline: none;
	border-radius: 49px;
	cursor: pointer;
	background-color: #070707;
	color: #fff;
	font-weight: 600;
	margin: 15px 0;
	transition: 0.5s ease;
}

.panel {
	display: flex;
	flex-direction: column;
	/* align-items: flex-end; */
	justify-content: space-around;
	text-align: center;
	z-index: 7;
	border-radius: 0px;
	box-shadow: 0 0.5em 1em -0.125em rgb(00 0 0 / 0%), 0 0 0 1px rgb(00 00 00 / 0%);
	font-size: 1rem;
}
.panel .content {
	color: rgb(202, 202, 202);
	transition: 2s ease;
}
.panel h3 {
	font-weight: 600;
	line-height: 1;
	font-size: 1.5rem;
	color: rgb(243, 243, 243);
}
.panel p {
	font-size: 0.95rem;
	padding: 0.7rem 0;
}
.image {
	width: 100%;
}
@media (max-width: 870px) {
	/* .content {
		margin-top: -500px;
	}
	.image{

	} */
	.containerRegister {
		min-height: 800px;
		height: 100vh;
	}
	.containerRegister::before {
		/* display: none; */
		width: 1500px;
		height: 1500px;
		left: 30%;
		bottom: 55%;

		transform: translateX(-50%);
		right: initial;
		top: initial;
		transition: 2s ease-in-out;
	}

	.signin-signup {
		width: 100%;
		left: 50%;
		top: 70%;
		/*top: 95%; */
		/* transform: translate(-50%, 100%); */
		transition: 1s 0.8s ease-in-out;
	}
	.panels-container {
		/* background-color: green;
		z-index: 10; */
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr 1fr;
	}
	.panel {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 2.5rem 8%;
	}
	.panel .content {
		padding-right: 15%;
		transition: 0.9s 0.8s ease-in-out;
	}
	.panel h3 {
		font-size: 1.2rem;
	}
	.panel p {
		font-size: 0.7rem;
		padding: 0.5rem 0;
	}
	.btn.transparent {
		width: 110px;
		height: 35px;
		font-size: 0.7rem;
	}
	.image {
		width: 200px;
		transition: 0.9s 0.6s ease-in-out;
	}
	/* .left-panel {
		grid-row: 1/2;
	} */
	.right-panel {
		grid-row: 1/2;
	}
	/* .right-panel .content,
	.right-panel .image {
		transform: translateY(300px);
	}
	.containerLogin.sign-up-mode::before {
		transform: translate(-50%, 100%);
		bottom: -12%;
		right: initial;
	}

	.containerLogin.sign-up-mode .left-panel .image,
	.containerLogin.sign-up-mode .left-panel .content {
		transform: translateY(-300px);
	}
	.containerLogin.sign-up-mode .right-panel .image,
	.containerLogin.sign-up-mode .right-panel .content {
		transform: translateY(200px);
	}

	.containerLogin.sign-up-mode .signin-signup {
		top: -10%;
		transform: translate(-50%, 0);
		left: 50%;
	} */
	.imageSVG {
		visibility: hidden;
	}
}
